aws-step-function-launch.json
{
  "Comment": "State machine to launch an EC2 instance from GamingRig snapshot",
  "StartAt": "GetSnapshot",
  "States": {
    "GetSnapshot": {
      "Type": "Task",
      "Parameters": {
        "Filters": [
          {
            "Name": "tag:Name",
            "Values": [
              "GamingRig"
            ]
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeSnapshots",
      "ResultSelector": {
        "SnapshotId.$": "$.Snapshots[0].SnapshotId"
      },
      "Next": "CreateAMI",
      "ResultPath": "$.snapshot"
    },
    "CreateAMI": {
      "Type": "Task",
      "Parameters": {
        "BlockDeviceMappings": [
          {
            "DeviceName": "/dev/sda1",
            "Ebs": {
              "SnapshotId.$": "$.snapshot.SnapshotId"
            }
          }
        ],
        "Name": "GamingRig-Temp",
        "Architecture": "x86_64",
        "RootDeviceName": "/dev/sda1",
        "VirtualizationType": "hvm",
        "TagSpecifications": [
          {
            "ResourceType": "image",
            "Tags": [
              {
                "Key": "Name",
                "Value": "GamingRig-Temp"
              }
            ]
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:registerImage",
      "ResultSelector": {
        "ImageId.$": "$.ImageId"
      },
      "Next": "LaunchInstance",
      "ResultPath": "$.ami"
    },
    "LaunchInstance": {
      "Type": "Task",
      "Parameters": {
        "ImageId.$": "$.ami.ImageId",
        "InstanceType.$": "$.instanceType",
        "MinCount": 1,
        "MaxCount": 1,
        "InstanceInitiatedShutdownBehavior": "terminate",
        "InstanceMarketOptions": {
          "MarketType": "spot",
          "SpotOptions": {
            "SpotInstanceType": "one-time",
            "InstanceInterruptionBehavior": "terminate"
          }
        },
        "BlockDeviceMappings": [
          {
            "DeviceName": "/dev/sda1",
            "Ebs": {
              "VolumeSize": 300,
              "VolumeType": "gp3",
              "DeleteOnTermination": false,
              "Throughput": 500,
              "Iops": 5000
            }
          }
        ],
        "TagSpecifications": [
          {
            "ResourceType": "instance",
            "Tags": [
              {
                "Key": "Name",
                "Value": "GamingRig"
              }
            ]
          },
          {
            "ResourceType": "volume",
            "Tags": [
              {
                "Key": "Name",
                "Value": "GamingRig"
              }
            ]
          }
        ],
        "SecurityGroupIds": [
          "sg-013a25ec5fe71f446"
        ],
        "KeyName": "GamingRig"
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:runInstances",
      "Next": "DeregisterAMI",
      "ResultPath": "$.ec2"
    },
    "DeregisterAMI": {
      "Type": "Task",
      "Parameters": {
        "ImageId.$": "$.ami.ImageId"
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:deregisterImage",
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
